<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <%- include('./partials/header.ejs')%>
    <div class="container">
      <div class="containers">
        <form method="POST" action="/AddPost/<%=subject._id %>">
          <h1 style="font-weight: 600;">Adding new post for <%=subject.subjectName %>.</h1>
          <div class="form-group mb-3">
            <label for="PostName" class="form-label">Title : ***</label>
            <input type="text" class="form-control" placeholder="Your post title." id="PostName" name="post_title" required>
          </div>
          <div class="form-group mb-3">
            <label for="Text" class="form-label">Text : </label>
            <textarea class="form-control" id="Text" placeholder="Text." name="content" rows="3"></textarea>
            <small>You can leave this blank.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>

</html>