<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <style>
            .grid {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                gap: 1pc;
                justify-content: center;
            }

            .pagination_manu {
                margin-top: 2pc;
            }


            @media only screen and (max-width: 992px) {
                .grid {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1pc;
                }
            }

            @media only screen and (max-width: 600px) {
                .grid {
                    display: grid;
                    grid-template-columns: auto;
                    gap: 1pc;
                }

            }

            .card img {
                width: 100%;
                height: 250px;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: center;

            }

            .card {
                width: 80%;
                display: block;
                margin: auto;
                padding: auto;
                margin-top: 1.5pc;
                border: 1px solid rgb(202, 201, 201);
            }

            .block p {
                text-align: center;
                position: fixed;
                top: 50%;
                left: 47%;
            }
            
        </style>
</head>

<body>
    <%- include('./partials/header.ejs')%>

        <div class="container">
            <div id="searchResults">
                <div class="grid">
                    <% if (result.length===0) { %>
                        <div class="block">
                            <p class="textshow">ไม่มีรายวิชาที่ค้นหา</p>

                        </div>
                        <%- include('./partials/footer_3.ejs')%>
                            <% } else { %>
                                <% result.forEach(function(subject) { %>
                                    <div class="card">
                                        <img src="data:image/<%=subject.subjectIcon.contentType%>;base64,<%=subject.subjectIcon.data.toString('base64')%>"
                                            class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= subject.subjectName %>
                                            </h5>
                                            <p class="card-text">
                                                <%= subject.Description %>
                                            </p>
                                            <hr>
                                            <a href="/subject/<%= subject._id %>" class="btn btn-primary">Visit
                                                Subject</a>
                                        </div>
                                    </div>
                                    <% }); %>

                </div>
            </div>

            <nav aria-label="Page navigation" class="pagination_manu">
                <ul class="pagination justify-content-center">
                    <% if (currentPage> 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>&qry=<%= req.query.qry %>"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>

                            <% for (let i=1; i <=totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>&qry=<%= req.query.qry %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>

                                    <% if (currentPage < totalPages) { %>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="?page=<%= currentPage + 1 %>&qry=<%= req.query.qry %>"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <% } %>
                </ul>
            </nav>
        </div>
        <%- include('./partials/footer_2.ejs')%>
            <% } %>

                </div>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                    crossorigin="anonymous"></script>
</body>
</body>

</html>