<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <div class="container">

            <%if(cookies.isLoggedin=="loggedin"){%>
                <div class="alert alert-success" role="alert">
                    Logged in succesfully!!
                </div>
                <%}%>
                    <%if(cookies.isLoggedout=="true"){%>
                        <div class="alert alert-success" role="alert">
                            Logged out succesfully!!
                        </div>
                        <%}%>
                            <%- include('./SubjectHeader.ejs')%>
                            <h2>Joining requests</h2>
                           <%=subjectInfo.membersList.requests%>


                            <h2>Mods</h2>
                            <%subjectInfo.membersList.mods.forEach(function(member){%>
                                <%=member.user_id.email %> Role: <%=member.role%>

                            <%}) %>

                                


        </div>
        <%- include('../partials/footer.ejs')%>
</body>

</html>