<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
    <body>
    <%- include('../partials/header.ejs')%>
        <div class="container">
            
            <%if(cookies.isLoggedin=="loggedin"){%>
                <div class="alert alert-success" role="alert">
                    Logged in succesfully!!
                </div>
            <%}%>
            <%if(cookies.isLoggedout=="true"){%>
                <div class="alert alert-success" role="alert">
                    Logged out succesfully!!
                </div>
            <%}%>
            
            <%- include('./SubjectHeader.ejs')%>
              <%subjectInfo.membersList.forEach(function(member){%>
                <%=member.email %>



              <%}) %> 
            
                
        </div>
    <%- include('../partials/footer.ejs')%>
    </body>
</html>