<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <div class="container">

            <%if(cookies.isLoggedin=="loggedin"){%>
                <div class="alert alert-success" role="alert">
                    Logged in succesfully!!
                </div>
                <%}%>
                    <%if(cookies.isLoggedout=="true"){%>
                        <div class="alert alert-success" role="alert">
                            Logged out succesfully!!
                        </div>
                        <%}%>
                        <div class="containers">
                            <%- include('./SubjectHeader.ejs')%>
                            
                            <%if(subjectInfo.role=="notMember"||subjectInfo.role=="pending"){%>
                                <h2 class="text-center">Members are not visable for you.
                                You are not a member of this subject.</h2>
                            <%}else{%>
                            <%if(subjectInfo.role=="creator"||subjectInfo.role=="admin") {%>
                                <h5>Joining requests - <%=subjectInfo.membersList.requests.length%></h5>
                                <%subjectInfo.membersList.requests.forEach(function(request){%>
                                    <%=request.user_id.email %><a type="button" class="btn btn-success"  href="/subject/req/approve/<%=request.id%>">Approve</a>
                                    <a type="button" class="btn btn-danger"  href="/subject/deleterequest/<%=request.id%>">Decline</a>
                                <%}) %>
                                
                                <h5>Mods - <%=subjectInfo.membersList.mods.length%></h5>
                                <%subjectInfo.membersList.mods.forEach(function(member){%>
                                    <%if(sessions.loginsession.id==member.id){%>
                                        <%=member.user_id.email %>(you) <br>
                                        Role: <%=member.role%> <br>


                                    <% }else{%>
                                        <%=member.user_id.email %> <br>
                                        Role: <%=member.role%> <a type="button" class="promoteLink"  href="/subject/demote/<%=member.id%>">demote from admin</a><br>

                                    <% }%>
                                    
    
                                <%}) %>
    
                                <h5>Members - <%=subjectInfo.membersList.members.length%></h5>
                                <%subjectInfo.membersList.members.forEach(function(member){%>
                                    <%=member.user_id.email %> <br>
                                    Role: <%=member.role%><%=member.user_id.email %><a type="button" class="promoteLink"  href="/subject/promote/<%=member.id%>">promote to admin</a><br>
    
                                <%}) %>

                                <%}else{%>
                                    <h5>Mods - <%=subjectInfo.membersList.mods.length%></h5>
                                <%subjectInfo.membersList.mods.forEach(function(member){%>
                                    
                                    <%=member.user_id.email %> <br>
                                    Role: <%=member.role%> <br>
    
                                <%}) %>
    
                                <h5>Members - <%=subjectInfo.membersList.members.length%></h5>
                                <%subjectInfo.membersList.members.forEach(function(member){%>
                                    <%=member.user_id.email %> <br>
                                    Role: <%=member.role%><%=member.user_id.email %><br>
    
                                <%}) %>
                                <%}%>
                        <%}%>
                      
                    </div> 
                            

                                


        </div>
        <%- include('../partials/footer.ejs')%>
</body>

</html>