<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header.ejs')%>
        <div class="container">

            <%if(cookies.isLoggedin=="loggedin"){%>
                <div class="alert alert-success" role="alert">
                    Logged in succesfully!!
                </div>
                <%}%>
                    <%if(cookies.isLoggedout=="true"){%>
                        <div class="alert alert-success" role="alert">
                            Logged out succesfully!!
                        </div>
                        <%}%>
                        <div class="containers">
                            <div class="profile-header">
                                <img id="profile-picture" src="data:image/<%=subjectInfo.Object.subjectIcon.contentType%>;base64,<%=subjectInfo.Object.subjectIcon.data.toString('base64')%>" alt="รูปโปรไฟล์">
                            </div>
                            <%- include('./SubjectHeader.ejs')%>
                            <%if(subjectInfo.role=="creator"||subjectInfo.role=="admin") {%>
                                <h5>Joining requests - <%=subjectInfo.membersList.requests.length%></h5>
                                <%subjectInfo.membersList.requests.forEach(function(request){%>
                                    <%=request.user_id.email %><a type="button" class="btn btn-success"  href="/subject/req/approve/<%=request.id%>">Approve request</a>
                                    <a type="button" class="btn btn-danger"  href="/subject/deleterequest/<%=request.id%>">Delete request</a>
                                <%}) %>
    
                                <%}%>
    
    
                                <h5>Mods - <%=subjectInfo.membersList.mods.length%></h5>
                                <%subjectInfo.membersList.mods.forEach(function(member){%>
                                    <%=member.user_id.email %> <br>
                                    Role: <%=member.role%>
    
                                <%}) %>
    
                                <h5>Members - <%=subjectInfo.membersList.members.length%></h5>
                                <%subjectInfo.membersList.members.forEach(function(member){%>
                                    <%=member.user_id.email %> <br>
                                    Role: <%=member.role%><br>
    
                                <%}) %>
    
                        </div>
                            

                                


        </div>
        <%- include('../partials/footer.ejs')%>
</body>

</html>